[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/academia-hugo"]
	path = themes/academia-hugo
	url = git@github.com:themefisher/academia-hugo.git
